.landing-page {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    rgba(0, 0, 0, .6), 
    rgba(0, 0, 0, .6)),
    url('../../assets/images/VHS_Noise_Pack/vhs_noise_7.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  font-size: 1.2em;
  font-style: italic;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-family: $bungee;
  font-weight: bold;
  font-size: 80px;

  p {
    color: rgb(41, 203, 252);
  }
}
