.landing-page {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    rgba(0, 0, 0, .6), 
    rgba(0, 0, 0, .6)),
    url('../../assets/images/VHS_Noise_Pack/vhs_noise_7.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.screen {
  @include flex-center(column);
  width: 100%;
  height: 100%;
  font-weight: bold;
  font-style: italic;
  font-size: 60px; // use for font size

  p:nth-child(1) {
    font-family: $bungee-shade;
    color: rgb(41, 168, 252);
    font-size: 1em;
  }
}

.enter-link {
  text-decoration: none;
  
  p.glitch {
    font-family: $bungee;
    color: rgb(59, 252, 41);
    font-size: 2em;
    margin-top: 20px;
  }
}
