* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  white-space: pre-line;
  background-color: black;
}

.message-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50%;
}

.loading {
  margin: 5%;
  font-size: 1em;
  letter-spacing: 2px;
  text-align: center;
  color: $secondary-background;
  text-shadow: 3px 4px 4px rgba(38, 34, 34, 0.57);
  font-family: $playfair;
}

.error {
  margin: 5%;
  font-size: 1em;
  letter-spacing: 2px;
  text-align: center;
  color: $secondary-background;
  text-shadow: 3px 4px 4px rgba(38, 34, 34, 0.57);
  font-family: $playfair;
}