.about-page {
  @include flex-center(column);
  width: 100%;
  height: auto;
}

.banner {
  @include flex-center(row);
  width: 80%;
  height: 20%;
  border: 1px dotted green;
  margin: 20px auto 30px auto;
  padding: 1em;
  font-size: 3em;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  height: 60%;
  border: 1px dotted red;
  padding: 2em;
}

.about-title {
  font-size: 3em;
  margin-bottom: 0.5em;
}

.about-text {
  font-size: 1.5em;
  
  p {
    margin: 20px auto 20px auto;
  }
}