/* FONTS */

$playfair: 'Playfair Display SC',
serif;
$bungee: 'Bungee',
cursive;
$lato: 'Lato',
sans-serif;

/* COLORS */

// background

$primary-background: rgb(18, 17, 51);
$secondary-background: rgb(96, 132, 194);
$emphasis-background: rgba(220, 241, 253, 0.74);

$opaque-light: rgba(36, 91, 109, 0.322);
$opaque-dark: rgba(0, 0, 0, 0.623);

// accent

$light-blue: #38b6ff;

/* BOX SHADOW */

$shadow-main: inset 0 -3em 3em rgba(0, 0, 0, 0),
0.3em 0.3em 0.3em 0.1em rgba(0, 0, 0, 0.2),
0.5em 0.5em 0.5em 0.2em rgba(0, 0, 0, 0.2);

$shadow-light: inset 0 -3em 3em rgba(0, 0, 0, 0.049),
0.2em 0.2em 0.1em rgba(0, 0, 0, 0.049),
0.3em 0.3em 0.3em 0.3em rgba(0, 0, 0, 0.118);

/* MIXINS */

@mixin flex-center($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}