.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 10%;
  margin: 10px auto 20px auto;
  padding: 20px;
  font-size: 3em;
  background-color: $secondary-background;
  box-shadow: 1px 1px 1px 1px rgba(48, 35, 35, 0.255),
    3px 3px 3px 3px rgba(87, 74, 74, 0.385);
  border-radius: 2px;
}